node_modules/
packages/*/coverage
packages/*/lib
packages/*/es
packages/*/cjs
packages/*/dist
dist

.npmrc
lerna-debug.log
example/*

packages/mt-template-admin-v5/*
packages/antd-ext-example/*
packages/mt-template-admin-hermes/*

.umi
.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production
.idea/
.DS_Store
